# Strings Overview

Introduction video - basic overview of what module with contain.

# Strings Part 1

* Combination
* Duplication
* Indexing
* Slicing
* Length
* Strip
* Replace

These should be things you already know how to do at this point or be able to pick up on them quickly

In [4]:
# to create or input a multi line string you use '''   ''' triple quotes
x = ''' 
hello
world
it 
is 
me 
'''

print(x)

hello
world
it
is
me

In [7]:
x

' \nhello\nworld\nit \nis \nme \n'

/n you is the new line escape
this is the symbol that denotes go to the next line
If you just recall the variable as above, you will get the /n denoting going to the next line.  it is only when you print that it will accutally give you the output. as shown above

In [9]:
"\"I did nothing!\" he said"
# this allows us to keep the quotes if we are referencing what someone said.

'"I did nothing!" he said'

In [10]:
# how do we get to keep a backslash to stay
x = "Here is a backslash: \\"
print(x)

# the backslash is used to denote a break, or change line

Here is a backslash: \

In [11]:
# here is the raw string from that code, notice the difference in the output from the print command vs. just asking for the variable.
x

'Here is a backslash: \\'

# Strip Case Alignment

In [12]:
# extra spaces on the front or back of a string is called padding.  
world = '     earth     '
print(world)

     earth

In [13]:
# To take away the padding you, you can use the strip command
world.strip()

'earth'

In [14]:
# you can explicitly say what you want to strip out
world.strip(' ')

'earth'

In [16]:
x = 'hello my name is Greg'

In [17]:
# Note: strip command only looks at the front and the back of a string.  So, it will not strip out all the spaces inside a string
x.strip()

'hello my name is Greg'

## Some of the other functions that can be done

In [20]:
setup = 'a duck goes into a bar...'
setup

'a duck goes into a bar...'

In [21]:
setup.strip('.')

'a duck goes into a bar'

In [23]:
setup.capitalize()  # capitalizes the first letter of the String

'A duck goes into a bar...'

In [24]:
setup.title()  # capitalizes the first letter of each word

'A Duck Goes Into A Bar...'

In [25]:
setup.upper()  # capitalizes all the letters in the string

'A DUCK GOES INTO A BAR...'

In [26]:
setup.lower() # makes all letters in the string lowercase

'a duck goes into a bar...'

In [27]:
setup.swapcase()  # this will change the case of all the letters and changes them to the opposite.  So lower to uppper or upper to lower

'A DUCK GOES INTO A BAR...'

In [28]:
setup.center(30) # centers the string at # value of characters

'  a duck goes into a bar...   '

In [29]:
setup.center(100)

'                                     a duck goes into a bar...                                      '

In [31]:
setup.ljust(30)  # will setup a left justified string

'a duck goes into a bar...     '

In [32]:
setup.rjust(30)  # will setup a right justified string

'     a duck goes into a bar...'

# Old Style Formatting

## Formating 
### Three ways

* Old Style (Python 2+)
* New Style (Python 2.6+)
* f-string (Python 3.6+)

Each way will be discussed seperately, we will start with Old Style

format string +%+ data

In [33]:
team = 'Yankees'

"My favorite team is the %s" % team

'My favorite team is the Yankees'

'%s' % 42
different options for types
* %s = string
* %d = basee-10 integer
* %x = hex integer
* %f = float
* %e = exponential float
* %% = literal %

In [34]:
print('%x' % 42)
print('%d' % 42)
print('%x' % 42)

2a
42
2a

In [35]:
print('%s' % 7.03)
print('%f' % 7.03)
print('%e' % 7.03)

7.03
7.030000
7.030000e+00

In [36]:
print('%d%%' % 100)

100%

In [37]:
city = 'New York'
year = 1998
'My favorite team is the %d %s %s' % (year, city, team)

'My favorite team is the 1998 New York Yankees'

Additional options
* Alignment character
   * '+' means right-align
   * '-' means left-align
* Minwidth number
* Maxchars number
* Period to separate minwith and maxchar

In [39]:
print('%s' % team)
print('%12s' % team)      # Default is to add spaces to the left of the string to get to desired number (12)
print('%s12' % team)      # number must be before conversion type
print('%12.3s' % team)    # tells us that we want 12 characters total, but only take the first 3 from the string
print('%-12.3s' % team)   # tells us that we want 12 characters but put spaces to the right, and only take first 3 characters of string

Yankees
     Yankees
Yankees12
         Yan
Yan

# New Style Formating

Old style will continue to be supported, but there are better ways

Format: '{format_string}'.format(data)

In [40]:
'{}'.format(team)

'Yankees'

In [41]:
'Myfavorite team is the {1} {0}'.format(team, city)

'Myfavorite team is the New York Yankees'

In [43]:
'Myfavorite team is the {city} {team}'.format(team = 'Jets' , city = 'New York')

'Myfavorite team is the New York Jets'

Additional options changed slightly

* Character fill that adds whitespace padding
* Alignment character
    * '<' = left
    * '>' = right
    * '^' = center
* Minwidth with period to separate the maxchars, like before

In [47]:
print('My favorite team is the {} {}'.format(city,team))
print('My favorite team is the {:10s} {}'.format(city, team))
print('My favorite team is the {:>10s} {:^10s}'.format(city, team.upper()))
print('My favorite team is the {:>10s} {:^10.4s}'.format(city, team))

My favorite team is the New York Yankees
My favorite team is the New York   Yankees
My favorite team is the   New York  YANKEES
My favorite team is the   New York    Yank

# f-strings Formating

New in 3.6

Recommended

Formatting: f immediately before string, variable name & expressions inside curly brackets

In [49]:
f'My favorite team is the {city} {team}'

'My favorite team is the New York Yankees'

In [50]:
f'My favorite team is the {city} {team.upper()}'

'My favorite team is the New York YANKEES'

Notice we don't need .format()

In [53]:
print(f'My favorite team is the {city} {team}')
print(f'My favorite team is the {city:10s} {team}')
print(f'My favorite team is the {city:>10s} {team.upper():10s}')
print(f'My favorite team is the {city:>10s} {team:^10.4s}')

My favorite team is the New York Yankees
My favorite team is the New York   Yankees
My favorite team is the   New York YANKEES
My favorite team is the   New York    Yank

# Control Structure Overview

# Conditionals

Very common 
if else and elseif statements

In [56]:
disaster = True
if disaster:
    print('AAAAAAAHHHHH')
else:
    print('WHEEEEEE!')

AAAAAAAHHHHH

In [57]:
# if else example
furry = True
large = True
color = 'mauve'

In [58]:
# program example 1
if furry:
    if large:
        print("It's a yeti!!!")
    else:
        print("It's a human or a hairless cat" )
else:
    if large:
        print("It's a whle")
    else:
        print("It's a human or a hairless cat")

It's a yeti!!!

In [60]:
if color == 'red':
    print("It's a tomato")
elif color =='green':
    print("It's a green pepper")
elif color == 'bee purple':
    print("I don't know what it is, \
    but only bees can see it")
else:
    print("I've never heard of the color" , color)

I've never heard of the color mauve

# Walrus Operator

Version 3.8

:=    <- Walrus Operator

reason for it - create a value for the condiditon

In [61]:
# First up how it used to be done
tweet_limit = 280
tweet_string = "Blah" * 50
diff = tweet_limit - len(tweet_string)

if diff >= 0:
    print("A fitting tweet")
else:
    print("Went over by", abs(diff))

A fitting tweet

In [62]:
######## Done using the Walrus Operator
tweet_limit = 280
tweet_string = "Blah" * 50

if diff := tweet_limit - len(tweet_string) >=0:
        print("A fitting tweet")
else:
    print("Went over by", abs(diff))

A fitting tweet

# Control Structure Example

Create functions temperature that prints a statement based on these intervals

* '>' 90: "Visit a neighbor"
* 90 >= temp >80: "Turn on air condidioning"
* 80 >= temp > 70: "Do nothing"
* 70 >= temp > 60: "Turn on heat"
* '<' 60: "Visit a neighbor"

In [63]:
def temperature():
    temp = float(input('Please input the temperature of interest: '))
    
    if temp > 90:
        print('Visit a Neighbor')
    elif temp <=90 and temp > 80:
        print("Turn on Air Conditionion")
    elif temp <= 80 and temp > 70:
        print('Do Nothing')
    elif temp <= 70 and temp > 60:
        print('Turn on Heater')
    else:
        print('Visit a Neighbor')

temperature()

Please input the temperature of interest: 101
Visit a Neighbor

In [65]:
temperature()

Please input the temperature of interest: 89
Turn on Air Conditionion

# Loops Overview

for and while loops

Best way to learn how to use them is when writing programs in general.

# Loops Review

* Loops run pieces of code multiple times
* Usually your code runs top to bottom and never goes backwards
    * But loops are an exception to that
* Two distinct loop types
    * For
        * run a definate number of times
    * While
        * run until some condition is satisfied

In [70]:
family = ['Colt', 'Lindsey', 'Johnathon', 'Little Colt','TaylorAnn', 'Evan Colt']

In [71]:
for i in family:   # i is the stand in value, could be anything just like a variable in math
    print(i)

Colt
Lindsey
Johnathon
Little Colt
TaylorAnn
Evan Colt

In [72]:
# While loops will run until some condition is statisfied.  This can be infiniate, if done poorly. 
a = 1
while a <= 5:
    print(a)
    a+=1

1
2
3
4
5

# Breaks

In [73]:
classes = ['Pre-Algebra', 'Beg Algebra', 'Interm Algebra', 'College Algebra', 'Statistics', 'Survey of Math', 'Functions and Modeling']

In [74]:
for member in family:
    print(member)
    if member == "Little Colt":
        break

Colt
Lindsey
Johnathon
Little Colt

In [79]:
for member in family:
    print(member)
    if member == 'Little Colt':
        break
    for subject in classes:
        print(subject)
        if subject == 'Statistics':
            break

Colt
Pre-Algebra
Beg Algebra
Interm Algebra
College Algebra
Statistics
Lindsey
Pre-Algebra
Beg Algebra
Interm Algebra
College Algebra
Statistics
Johnathon
Pre-Algebra
Beg Algebra
Interm Algebra
College Algebra
Statistics
Little Colt

In [87]:
# what do you do when you really want to break the loop
for i in family:
    print(i)
    for j in classes:
        print(    j)
        if j =='Statistics':
            break
    else: 
         continue
    break

Colt
Pre-Algebra
Beg Algebra
Interm Algebra
College Algebra
Statistics

# Continue

family = ['Colt', 'Lindsey', 'Johnathon', 'Little Colt','TaylorAnn', 'Evan Colt']

classes = ['Pre-Algebra', 'Beg Algebra', 'Interm Algebra', 'College Algebra', 'Statistics', 'Survey of Math', 'Functions and Modeling']

In [88]:
for i in family:
    if i == 'Johnathon':
        continue
    print(i)
# This program will check to see if it is Johnathon and if so it will skip Johnathon and go to the next interation

Colt
Lindsey
Little Colt
TaylorAnn
Evan Colt

In [89]:
while True:
    value = input('Integer, please [ q to quit]:')
    if value == 'q':
        break
    number = int(value)
    if number % 2 ==0:   # checks for even, if even then it moves to the next number but does not computer the square
        continue
    print(number, "squared is", number*number)

Integer, please [ q to quit]:8
Integer, please [ q to quit]:7
7 squared is 49
Integer, please [ q to quit]:8
Integer, please [ q to quit]:1
1 squared is 1
Integer, please [ q to quit]:9
9 squared is 81
Integer, please [ q to quit]:1563
1563 squared is 2442969
Integer, please [ q to quit]:q

# Range

Useful function for loops - What it does
* returns an sequence of numbers - 
    * This would help you create a list of numbers to cycle through

In [90]:
for i in range(0,3):     # goes start value, stop value(not included), interval value
    print(i)

0
1
2

In [91]:
for i in range(0,35,5):
    print(i)

0
5
10
15
20
25
30

In [92]:
# this can also go negatives
for i in range(2,-10,-1):
    print(i)

2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9

# Loop Examples

An acronym is a word formed by taking the first letters of the words in a phrase and making a word from them.  For example, RAM is an acronym for "random access memory."  WWrite a program called acronym that allows the user to type in a phrase and then outputs the acroynm ro4 that phrase.  Note: The acronym shoulde be all uppper case, even if the words in the phrase are not captialized.

In [93]:
def acronym():
    target = input('What pharase do you want? ')    # Input the phase you want to make into and acronym
    ac = ''
    for word in target.split():    #target.split() ----- will split the string into the individual words
         ac = ac + word[0]
    print(ac.upper())
    
acronym()

What pharase do you want? first outter inner last
FOIL

In [94]:
acronym()

What pharase do you want? parentheses Exponents multiplication division addition subtraction
PEMDAS

# Quiz Problems

In [95]:
x = 'philadelphia eagles'
x[5:9]

'delp'

In [96]:
Eu = 'eastern university'
Eu[-2]

't'

In [101]:
y='data science for all'
y[14:]

'or all'

In [102]:
y = 'data science for all'
y[6:9]

'cie'

In [103]:
y = 'data science for all'
y[8]

'e'

In [104]:
x = 'philadelphia eagles'
x[9:14]

'hia e'

In [108]:
print('hello\nworld\nits\nme')
print('hello/nworld/nits/nme')
print(hello\nworld\nits\nme)

SyntaxError: unexpected character after line continuation character (2850553887.py, line 3)

In [110]:
'shark' == 'Shark'

False

In [111]:
print('Hello')

Hello

In [112]:
i = 5
while i <= 10:
    print(i)
    i += 10

5

In [113]:
teams = ['Yankees', 'Red Sox', 'Rays','Blue Jays']
for i in teams:
    print(i)
    if i == 'Red Sox':
        break

Yankees
Red Sox

In [114]:
for i in teams:
    if len(i) == 4:
        break
    print(i)

Yankees
Red Sox

In [116]:
for i in range (-2,5):
    continue
    if i % 2 > 0:
        print(i)
    if i % 2 < 0:
        print(i)

In [ ]:
while True:
    x = eval(input('Enter an integer'))
    if x % 2 == 0:
        continue
    print(x)

Enter an integer1
1
Enter an integer2
Enter an integer3
3
Enter an integer4
Enter an integer5
5
Enter an integer6
Enter an integer7
7
Enter an integer8
Enter an integer9
9
Enter an integer10

In [1]:
grades = {'Biology':80, 'Physics':88, 'Chemistry':98, 'Math':89, 'English':79, 'Music':67, 'Hisory':68,'Art':53, 'Economics':95, 'Psychology':88}
sum(grades)

TypeError: unsupported operand type(s) for +: 'int' and 'str'